﻿@model CD_Tracker.Models.CD
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Add a CD</title>
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="panel-heading text-center">
        <h1>Add a CD</h1>
    </div>
    <div class="panel-body">
        <form asp-action="AddCD" method="post">
            <div asp-validation-summary="All"> </div>

            <div class="form-group">
                <p>
                    <label asp-for="Bank">Bank</label>
                    <select class="form-control" asp-for="Bank" value="Choose a Bank">
                        <option></option>
                        <option>Altra FCU</option>
                        <option>Bank of America</option>
                        <option>BMO Harris</option>
                        <option>Capital One</option>
                        <option>Citi Bank</option>

                    </select>
                </p>
            </div>
            <div class="form-group">
                <p>
                    <label asp-for="Term">Term(Months)</label>
                    <select class="form-control" asp-for="Term" >

                        <option>Choose a Term</option>
                        <option>12</option>
                        <option>24</option>
                        <option>36</option>
                        <option>48</option>
                        <option>60</option>
                        <option>72</option>
                        <option>84</option>
                        <option>96</option>
                        <option>108</option>
                        <option>120</option>
                    </select>
                </p>
            </div>
            <div class="form-group">
                <p>
                    <label asp-for="Rate">Rate(%)</label>
                    <input class="form-control" asp-for="Rate" />
                </p>
            </div>
            <div class="form-group">
                <p>
                    <label asp-for="Deposit">Deposit Amount</label>
                    <input class="form-control" asp-for="Deposit" />
                </p>
            </div>
            <div class="form-group">
                <p>
                    <label asp-for="Start">Purchase</label>
                    <input class="form-control" asp-for="Start" value="mm/dd/yyyy" />
                </p>
            </div>
            <div class="text-center">
                <button class="btn btn-primary" type="submit">Add CD</button>
            </div>
        </form>
    </div>
</body>
</html>