﻿@model IEnumerable<CD_Tracker.Models.CD>


@{
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>My CD Portfolio</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="text-center">
        <h1>My CD Portfolio</h1>
    </div>
    

    <a asp-action="AddCD">Add a CD</a>

    


    <div class="text-center">

        <h2>@ViewBag.h</h2>

        @if (ViewBag.h == "")
        {
            @:<h2>There are no CDs in your portfolio</h2>


        }
        <p>

        </p>
    </div >
</body>
</html>